<div class="row">
    <div *ngIf="this.chatService.usuario.nombre === ''" class="col-md-12 text-right">
        <p>
            Ingrese al chat con su cuenta favorita
        </p>
        <button (click)="ingresar('google')" type="button" name="" id="" class="btn btn-primary btn-lg m-1">Google</button>
        <button (click)="ingresar('twitter')" type="button" name="" id="" class="btn btn-info btn-lg m-1">Twitter</button>
    </div>
    <div *ngIf="this.chatService.usuario.nombre !== ''" class="col-md-12 text-right">
        {{ this.chatService.usuario.nombre }}
        <button (click)="salir('google')" type="button" name="" id="" class="btn btn-primary btn-lg m-1">Salir</button>
    </div>
</div>